// Bootstrap overrides
$black: #000;
$white: #fff;
$body-color: $black;

// $font-size-h1:               1rem;
$font-size-h2: 1rem;
$font-size-h3: 1rem;
$font-size-h4: 1rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;

$font-family-sans-serif: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: "letter-gothic-std", Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-serif: "garamond-premier-pro", Georgia, "Times New Roman", Times, serif;
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;
